<section data-ng-controller="EnemypokemonsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Enemypokemons</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="enemypokemon in enemypokemons" data-ng-href="#!/enemypokemons/{{enemypokemon._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="enemypokemon.created | date:'medium'"></span>
				by
				<span data-ng-bind="enemypokemon.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="enemypokemon.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!enemypokemons.$resolved || enemypokemons.length">
    	No Enemypokemons yet, why don't you <a href="/#!/enemypokemons/create">create one</a>?
    </div>
</section>